<script id="tailwind-config">
        tailwind.config = {
          darkMode: "class",
          theme: {
            extend: {
              "colors": {
                      "tertiary": "#ddb7ff",
                      "on-tertiary-fixed": "#2c0050",
                      "secondary-container": "#af8d11",
                      "on-secondary-fixed": "#241a00",
                      "surface-tint": "#adcec0",
                      "tertiary-fixed": "#f0dbff",
                      "outline-variant": "#414845",
                      "inverse-on-surface": "#35301e",
                      "outline": "#8b928e",
                      "surface-container-high": "#2e2a18",
                      "error": "#ffb4ab",
                      "secondary-fixed-dim": "#e9c349",
                      "secondary-fixed": "#ffe088",
                      "on-tertiary": "#4a0080",
                      "inverse-surface": "#ebe2c8",
                      "on-surface-variant": "#c1c8c3",
                      "on-background": "#ebe2c8",
                      "on-primary": "#19362c",
                      "tertiary-fixed-dim": "#ddb7ff",
                      "on-surface": "#ebe2c8",
                      "surface-container-low": "#1f1c0b",
                      "secondary": "#e9c349",
                      "on-secondary": "#3c2f00",
                      "on-primary-fixed-variant": "#2f4c42",
                      "tertiary-container": "#3b0068",
                      "on-error": "#690005",
                      "primary-fixed-dim": "#adcec0",
                      "primary-container": "#0d2b22",
                      "background": "#171305",
                      "primary-fixed": "#c9eadc",
                      "inverse-primary": "#476459",
                      "surface-container": "#23200f",
                      "surface-bright": "#3e3926",
                      "surface-container-lowest": "#110e02",
                      "on-primary-fixed": "#022018",
                      "on-secondary-fixed-variant": "#574500",
                      "surface-container-highest": "#393522",
                      "on-tertiary-fixed-variant": "#622599",
                      "error-container": "#93000a",
                      "primary": "#adcec0",
                      "surface-dim": "#171305",
                      "surface": "#171305",
                      "on-primary-container": "#759487",
                      "on-secondary-container": "#342800",
                      "on-tertiary-container": "#ad72e6",
                      "on-error-container": "#ffdad6",
                      "surface-variant": "#393522"
              },
              "borderRadius": {
                      "DEFAULT": "0.125rem",
                      "lg": "0.25rem",
                      "xl": "0.5rem",
                      "full": "0.75rem"
              },
              "spacing": {
                      "gutter-grid": "1.5rem",
                      "stack-lg": "3rem",
                      "margin-page": "2rem",
                      "stack-sm": "0.75rem",
                      "stack-md": "1.5rem"
              },
              "fontFamily": {
                      "headline-lg-mobile": ["Libre Caslon Text"],
                      "headline-lg": ["Libre Caslon Text"],
                      "body-md": ["EB Garamond"],
                      "display-lg": ["Libre Caslon Text"],
                      "label-sm": ["EB Garamond"]
              },
              "fontSize": {
                      "headline-lg-mobile": ["24px", {"lineHeight": "32px", "fontWeight": "600"}],
                      "headline-lg": ["32px", {"lineHeight": "40px", "fontWeight": "600"}],
                      "body-md": ["18px", {"lineHeight": "28px", "fontWeight": "400"}],
                      "display-lg": ["56px", {"lineHeight": "64px", "letterSpacing": "-0.02em", "fontWeight": "700"}],
                      "label-sm": ["14px", {"lineHeight": "20px", "letterSpacing": "0.1em", "fontWeight": "600"}]
              }
            },
          },
        }
    </script>
